*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #083D77;
    text-align: center;
}

.container {
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #DA4167;
    background-color: #EBEBD3;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #F4D35E;
    color: black;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.10rem;
    background-color: #F4D35E;
    color: black;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: rgb(198, 238, 247);
    font-size: 6vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}

h1{
    color: #c1d54d;
}

.hide {
    display: none;
}